* {
  font-family: 'Roboto', sans-serif;
}

h5 {
  font-size: 24px;
  font-weight: 300;
}

p {
  font-weight: 300;
}

.heroCarousel{
  background-size: cover;
  background-position: center;
}

.aspectRatioBox {
  padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(204,204,204,1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(204,204,204,1);
  box-shadow: 0px 0px 4px 0px rgba(204,204,204,1);
}
